<!DOCTYPE html>
<html>
<head>
<title>Project</title>
</head>
<body>

<h1>PROJECTS</h1>

<table>
<tr>
  <td>NO</td>
  <td>Nama Project</td>
  <td>Status</td>
  <td>Id Spv</td>
  <td>Action</td>
<tr>

</body>
</html>
